<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <div id="container">
            <div id="sidebar">
                {{> contents}}
            </div>

<div id="content">
{{{md}}}
</div>

        </div>
    </body>
</html>
