<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/hljs.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/markdown.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    </head>
    <body>
        <div id="header">
            <a href="/" class="badge" title="Npmjs.com"><img src="/assets/images/npmjs.png" alt="Npmjs" /></a>
            <a href="/" class="badge" title="Github.com"><img src="/assets/images/github.png" alt="Github" /></a>
            <a href="/" class="home"><em>Kequ</em><strong>twitch</strong> <span class="headline">{{headline}}</span></a>
        </div>
        <div id="container">
            <div id="sidebar">
                <ul class="list">
                    <li>
                        <h4><a href="">IRC</a></h4>
                        <ul>
                            <li><a href="">IRC examples</a></li>
                            <li><a href="">Item</a></li>
                            <li><a href="">Item</a></li>
                            <li><a href="">Item</a></li>
                            <li><a href="">Item</a></li>
                            <li><a href="">Item</a></li>
                            <li><a href="">Item</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

<div id="content">
{{{md}}}
</div>

    </body>
</html>
