html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #f6f6f6;
    background-color: #333;
    margin: 0;
    padding: 0;
    border: 0;
}
a, a:visited {
    color: #01C7EC;
}
a:hover {
    color: #fff;
}
#header {
    line-height: 70px;
    height: 70px;
    background: #000;
    box-shadow: #193236 0 0 1px;
    padding: 0 10px;
}
#header .badge {
    position: relative;
    float: left;
    height: 70px;
    width: 50px;
}
#header .badge img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 30px;
    width: 30px;
}
#header .badge:hover {
    background-color: #404040 !important;
}
#header a.home {
    float: left;
    padding: 0 20px;
    color: #f6f6f6;
    text-decoration: none;
}
#header a.home:hover {
    text-decoration: underline;
}
#header a.home span.headline {
    font-size: 0.8rem;
}
#header a.home em {
    font-weight: 200;
    font-style: normal;
}
#container {
    max-width: 1300px;
    margin: 0 auto 100px auto;
    position: relative;
}
#sidebar {
    position: absolute;
    top: 0;
    right: 20px;
    width: 250px;
    background-color: #262626;
    padding: 20px;
    box-shadow: #174952 0 0 1px;
    font-size: 0.9rem;
}
#sidebar h4 {
    margin: 0;
}
#sidebar .list > li {
    margin-bottom: 20px;
}
#sidebar .list a {
    display: block;
    line-height: 1.4rem;
}
#sidebar ul, #sidebar ul li {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}
#content {
    position: relative;
    margin: 20px;
    margin-right: 330px;
    padding: 20px;
    background-color: #262626;
    box-shadow: #174952 0 0 1px;
}
