html {
    font-family: 'Mukta', sans-serif;
    font-size: 22px;
    background-color: #f6f6f6;
    color: #333;
}
html::before {
    content: "";
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url('/assets/images/background.png') top left repeat;
    background-size: 28px 249px;
    transform: rotate(-2deg);
    opacity: 1;
}
#header {
    margin: 20px 0;
}
#header img {
    display: block;
    height: 269px;
    width: 422px;
    margin: 0 auto;
}
#content {
    max-width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
#content img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}
#content h1 {
    text-align: center;
}
#content pre code {
    padding: 20px;
    font-size: 0.8rem;
    background-color: #333;
    overflow: hidden;
}
#content hr {
    display: none;
}
#content code {
    background-color: #e5e5e5;
    border-radius: 2px;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 100%;
}
table th, table td {
    padding: 7px 17px;
}
table caption {
    margin: 7px;
}
table thead th {
    text-transform: uppercase;
    background-color: #ff5f5f;
    color: #FFFFFF;
}
table tbody td, table tbody td:last-child {
    color: #353535;
    border-bottom: 1px solid #CCCCCC;
}
table tfoot th, table tfoot th:last-child {
    border-top: 2px solid #ff5f5f;
}
