<div id="header">
    <div class="package">{{pkg.version}}</div>
    <a href="{{{npmUrl}}}" class="badge" title="Npmjs.com"><img src="/assets/images/npmjs.png" alt="Npmjs" /></a>
    <a href="{{{gitUrl}}}" class="badge" title="Github.com"><img src="/assets/images/github.png" alt="Github" /></a>
    <a href="/" class="home"><strong>{{{name}}}</strong> <span class="headline">{{{headline}}}</span></a>
</div>
