<head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/hljs.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
</head>
