<ul class="list">
    <li>
        <h4><a href="/">Home</a></h4>
        <ul>
            <li><a href="/how-it-works.html">How it works</a></li>
            <li><a href="/api.html">Api</a></li>
            <li><a href="/chat.html">Chat</a></li>
            <li><a href="/msg-object.html">Msg object</a></li>
            <li><a href="/inferences.html">Inferences</a></li>
            <li><a href="/logger.html">Logger</a></li>
        </ul>
    </li>
    <li>
        <h4><a href="/examples">Examples</a></h4>
        <ul>
            <li><a href="/examples/talk.html">Talk</a></li>
            <li><a href="/examples/emotesets.html">Emotesets</a></li>
            <li><a href="/examples/followers.html">Followers</a></li>
            <li><a href="/examples/subscribes.html">Subscribes</a></li>
            <li><a href="/examples/mod-and-unmod.html">Mod and unmod</a></li>
            <li><a href="/examples/ban-and-timeout.html">Ban and timeout</a></li>
            <li><a href="/examples/host-and-unhost.html">Host and unhost</a></li>
            <li><a href="/examples/hosted.html">Hosted</a></li>
            <li><a href="/examples/user-info.html">User info</a></li>
        </ul>
    </li>
</ul>
