<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <div id="container">
            <div id="sidebar">
                {{> sidebar}}
            </div>

<div id="content">
{{{content}}}
</div>

        </div>
    </body>
</html>
